In [2]:
import pandas as pd
import numpy as np
import re

In [71]:
#Question 1
#Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
text = 'Python Exercises, PHP exercises.'
print(re.sub("[ ,.]", ":", text))

Python:Exercises::PHP:exercises:

In [11]:
#Question 2
#Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.#data = {'SUMMARY':['hello, world!', 'XXXXX test', '123four, five:; six...']}
data = {'SUMMARY': ['hello, world!', 'XXXXX test', '123four, five:; six...']}
#df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]', '', regex=True)
df['SUMMARY'] = df['SUMMARY'].apply(lambda x: re.sub(r'[^\w\s]', '', x))
df = pd.DataFrame(data)
print(df)

                  SUMMARY
0           hello, world!
1              XXXXX test
2  123four, five:; six...

In [12]:
#Question 3
#Create a function inpython to find all words that are at least 4 characters long in a string.The use of the re.compile() method is mandatory.
def find_words(string):
    pattern = re.compile(r'\b\w{4}\b')
    matches = pattern.findall(string)
    return matches
string = "This is a assignment for the Regu lar Expression"
result = find_words(string)
print(result)

['This', 'Regu']

In [13]:
#Question 4
#Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.
def find_words(string):
    pattern = re.compile(r'\b\w{3,5}\b')
    matches = pattern.findall(string)
    return matches
string = "This is a assignment for the Regu lar Expression"
result = find_words(string)
print(result)

['This', 'for', 'the', 'Regu', 'lar']

In [ ]:
#Question 5
#Create a function in Python to remove the parenthesis in a list of strings.The use of the re.compile() method is mandatory.
def remove_parentheses(strings):
    pattern = re.compile(r"\(\)")
    modified_strings = []
    for string in strings:
        modified_string = re.sub(pattern, "", string)
        modified_strings.append(modified_string)
        return modified_strings
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern = re.sub(r"()", " ", sample_text)
result = remove_parentheses(sample_text)
print(result)

In [ ]:
#Question 6
#Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
with open('filename.txt', 'r') as file:
    text = file.read()
modified_text = re.sub(r'\([^()]*\)', '', text)
with open('filename.txt', 'w') as file:
  file.write(modified_text)

In [27]:
#Question 7
#-Write a regular expression in Python to split a string into uppercase letters.
text = "ImportanceOfRegularExpressionsInPython"
print(re.findall('[A-Z][^A-Z]*', text))

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

In [91]:
#Question 8
#Create a function in python to insert spaces between words starting with numbers
sample_str = 'RegularExpression1IsAn2ImportantTopic3InPython'
print("The original string is : " +str(sample_str))
num="012345"
for i in sample_str:
    if i in num:
        sample_str=sample_str.replace(i, " "+i+" ")
result=sample_str
print("The space added string : "+ str(result))

The original string is : RegularExpression1IsAn2ImportantTopic3InPython
The space added string : RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [62]:
#Question 9
#Create a function in python to insert spaces between words starting with capital letters or with numbers.
sample_str = 'RegularExpression1IsAn2ImportantTopic3InPython'
print("The original string is : " + str(sample_str))
num="012345"
for i in sample_str:
    if i in num:
        sample_str=sample_str.replace(i, " "+i+" ")
result=sample_str
print("The space added string : "+ str(result))

The original string is : RegularExpression1IsAn2ImportantTopic3InPython
The space added string : RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [98]:
#Question 10
#Use the github link below to read the data and create a dataframe. 
df1 = pd.read_csv(" https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv")

In [100]:
df1.head(3)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204

In [109]:
df1['first_five_letters'] = df1['Country']
df1['first_five_letters'] = df1['Country'].apply(lambda x: x[:6])
df1.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada

In [113]:
#Question 11
#- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

def text_string(string):
    pattern = r'^[a-zA-Z0-9_]+$'
    if re.match(pattern, string):
        print("String matches")
    else:
        print("String does not match")


text_string("Regular_Expression_assignment3")  
text_string("Regular Expression assignment 3") 
text_string("python program")

String matches
String does not match
String does not match

In [118]:
#Question 12
#Write a Python program where a string will start with a specific number. 
def number_check(string, number):
    if string.startswith(str(number)):
         return True
    else:
         return False
string = "123abc"
number = 123

if number_check(string, number):
     print("The string starts with the specified number.")
else:
    print("The string does not start with the specified number.")

The string does not start with the specified number.

In [119]:
#Question 13
#Write a Python program to remove leading zeros from an IP address
def remove_zeros(ip_address):
    octets = ip_address.split('.')
    octets_without_zeros = [str(int(octet)) for octet in octets]
    ip_address_without_zeros = '.'.join(octets_without_zeros)
    return ip_address_without_zeros
ip_address = '192.168.001.001'
ip_address_without_zeros = remove_zeros(ip_address)
print(ip_address_without_zeros)

192.168.1.1

In [29]:
#Question 14
#Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
text = "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern = r"\b([A-Z][a-z]+) \d{2}(?:st|nd|rd|th)? \d{4}\b"
#pattern = r"\b([A-Z][a-z]+) \d{4-11}-\d{2}-\d{2}"
matches = re.findall(pattern, text)
print(matches)

['August']

In [151]:
#Question 15
#Write a Python program to search some literals strings in a string. 
patterns = [ 'fox', 'dog', 'horse' ]
sample_text = 'The quick brown fox jumps over the lazy dog.'
for pattern in patterns:
    print('Searching for "%s" in "%s" ->' %(pattern, sample_text),)
    if re.search(pattern,  sample_text):
        print('Matched!')
    else:
        print('Not Matched!')

Searching for "fox" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "dog" in "The quick brown fox jumps over the lazy dog." ->
Matched!
Searching for "horse" in "The quick brown fox jumps over the lazy dog." ->
Not Matched!

In [153]:
#Question 16
#Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
s = match.start()
e = match.end()
print('Found "%s" in "%s" from %d to %d ' % \
    (match.re.pattern, match.string, s, e))

Found "fox" in "The quick brown fox jumps over the lazy dog." from 16 to 19

In [154]:
#Question 17
#Write a Python program to find the substrings within a string.
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.findall(pattern, text):
    print('Found "%s"' % match)

Found "exercises"
Found "exercises"
Found "exercises"

In [155]:
#Question 18
#Write a Python program to find the occurrence and position of the substrings within a string.
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
for match in re.finditer(pattern, text):
    s = match.start()
    e = match.end()
    print('Found "%s" at %d:%d' % (text[s:e], s, e))

Found "exercises" at 7:16
Found "exercises" at 22:31
Found "exercises" at 36:45

In [156]:
#Question 19
#Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.
def change_date_format(dt):
        return re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})', '\\3-\\2-\\1', dt)
dt1 = "2026-01-02"
print("Original date in YYY-MM-DD Format: ",dt1)
print("New date in DD-MM-YYYY Format: ",change_date_format(dt1))

Original date in YYY-MM-DD Format:  2026-01-02
New date in DD-MM-YYYY Format:  02-01-2026

In [165]:
#Question 20 
#Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string.The use of the re.compile() method is mandatory
def find_decimal_numbers(string):
    pattern = re.compile(r'\d+\.\d{1,2}')
    decimal_numbers = re.findall(pattern, string)
    return decimal_numbers
sample_text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
output = find_decimal_numbers(sample_text)
print(output)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

In [166]:
#Question 21
#Write a Python program to separate and print the numbers and their position of a given string.
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

for m in re.finditer("\d+", text):
    print(m.group(0))
    print("Index position:", m.start())

50
Index position: 62

In [167]:
#Question 22
#Write a regular expression in python program to extract maximum/largest numeric value from a string.
input_string = 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

numeric_values = re.findall(r'\d+', input_string)
numeric_values = [int(value) for value in numeric_values]

max_value = max(numeric_values)

print(max_value)

950

In [169]:
#Question 23
#Create a function in python to insert spaces between words starting with capital letters.
def capital_words_spaces(str1):
    return re.sub(r"(\w)([A-Z])", r"\1 \2", str1)

print(capital_words_spaces("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

In [170]:
#Question 24
#Python regex to find sequences of one upper case letter followed by lower case letters
pattern = r'[A-Z][a-z]+'
text = "This is a Sample Text with Multiple Matches"

matches = re.findall(pattern, text)
print(matches)

['This', 'Sample', 'Text', 'Multiple', 'Matches']

In [171]:
#Question 25
#Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
def remove_duplicates(sentence):
    pattern = r'\b(\w+)(\s+\1\b)+'
    result = re.sub(pattern, r'\1', sentence)
    return result
sentence = "Hello hello world world"
output = remove_duplicates(sentence)
print(output)

Hello hello world

In [181]:
#Question 26
#Write a python program using RegEx to accept string ending with alphanumeric character.
regex_expression = '[a-zA-z0-9]$'

def check_string(my_string):
    
    if(re.search(regex_expression, my_string)):
        print("The string ends with alphanumeric character")

    else:
        print("The string doesnot end with alphanumeric character")
my_string_1 = "Python@"
print("The string is :")
print(my_string_1)
check_string(my_string_1)

my_string_2 = "Python1245"
print("\nThe string is :")
print(my_string_2)
check_string(my_string_2)

The string is :
Python@
The string doesnot end with alphanumeric character

The string is :
Python1245
The string ends with alphanumeric character

In [182]:
#Question 27
#Write a python program using RegEx to extract the hashtags.
def extract_hashtags(text):
    hashtags = re.findall(r'#\w+', text)
    return hashtags
text = 'RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo'
hashtags = extract_hashtags(text)
print(hashtags)

['#Doltiwal', '#xyzabc', '#Demonetization']

In [184]:
#Question 28
#Write a python program using RegEx to remove <U+..> like symbols
#Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
input_text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who are protesting #demonetization are all different party leaders"

pattern = r"<U\+\w{4}>"
output_text = re.sub(pattern, "", input_text)

print(output_text)

@Jags123456 Bharat band on 28??<ed><ed>Those who are protesting #demonetization are all different party leaders

In [ ]:
#Question 29
#Write a python program to extract dates from the text stored in the text file.
with open('filename.txt', 'r') as file:
    text = file.read()
pattern = r'\d{2}-\d{2}-\d{4}'
dates = re.findall(pattern, text)
for date in dates:
    print(date)

In [186]:
#Question 30
#Create a function inpython to remove all words from a string of length between 2 and 4.
def remove_words(string):
    pattern = re.compile(r'\b\w{2,4}\b')
    modified_string = re.sub(pattern, '', string)
    return modified_string
sample_text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
output = remove_words(sample_text)
print(output)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.